@import "tailwindcss";

@theme inline {
  --font-satoshi: var(--font-satoshi);
  --font-cabinet: var(--font-cabinet);
  --color-bg: #eff1f3;
  --color-text: #223843;
  --color-primary: #dbd3d8;
  --color-secondary: #d8b4a0;
  --color-accent: #fb5012;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

::selection {
  color: #fb5012;
  background: rgb(251 80 18 / 0.1);
}

h1, h2, h3 {
  font-family: var(--font-cabinet);
}
